@page "/"

@using System.Linq.Expressions;

<PageTitle>Home</PageTitle>

<div style="width: 100%; height: 700px;">
<Graph Nodes=@nodes Connections=@edges />
</div>

@code
{
    private static Node a = new Node
        {
            Text = "A Node"
        };

    private static Node a2 = new Node
        {
            Text = "A2 Node"
        };

    private static Node a3 = new Node
        {
            Text = "A3 Node"
        };

    private static Node a4 = new Node
        {
            Text = "A4 Node"
        };


    private static Node b = new Node
        {
            Text = "B Node"
        };

    private static Node c = new Node
        {
            Text = "C Node"
        };

    private static Node c1 = new Node
        {
            Text = "C1 Node"
        };

    private static Node c2 = new Node
        {
            Text = "C2 Node"
        };

    private static Node c3 = new Node
        {
            Text = "C3 Node"
        };

    private static Node c4 = new Node
        {
            Text = "C4 Node"
        };


    private List<Node> nodes = new List<Node>
    {
        a, b, c, a2, a3, a4, c1, c2, c3, c4
    };

    private List<(Node source, Node target)> edges = new()
        {
            (a, b),
            (b, c),
            (c, a),
            (a, a2),
            (a, a3),
            (a, a4),
            (c, c1),
            (c, c2),
            (c, c3),
            (c, c4),
        };
}
